.form{
    background-color: white;
    border-radius: 20px;
}
.container{
    height: 100%;
}
img{
    max-width: 80%;
}
.logo-content{
    background-color: #eceaea;
    padding: 6rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
h4, .text-green{
    color:#21c25e;
}
.button-group{
    margin-bottom: 0.75rem;
}
.btn-round{
    border-radius: 150px;
}
.btn-success{
    background-color: #21c25e;
    border-color: #21c25e;
    font-size: 15px;
    font-weight: bold;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.is-invalid{
    background-image: none;
    padding-right: none !important;
}
.btn-70{
    width: 70%;
}