@import "./../../node_modules/bootstrap/scss/bootstrap";
@import "./../../node_modules/bootstrap/scss/functions";
@import "./../../node_modules/bootstrap/scss/variables";

.form{
    //background-color: white;
    background-color: #36383a;
    border-radius: 20px;
    border: 1px solid #545555;
    max-width: 60%; 
}
@include media-breakpoint-down(sm){
    .form{
        max-width: 100%;
        border-radius: 0rem !important;
        border: none;
    }
    .logo-content{
        padding: 4rem !important;
        border-bottom-left-radius: 0px !important;
        border-top-left-radius: 0px !important;
    }
}
@include media-breakpoint-up(sm){
    .form{
        max-width: 90%;
    }
}
@include media-breakpoint-up(lg){
    .form{
        max-width: 75%;
    }    
}
hr{
    border-top: 1px solid #bdbdbd40;
}
.container{
    height: 100%;
}
img{
    max-width: 80%;
}
.logo-content{
    //background-color: #eceaea;
    background-color: #2c2e2f;
    padding: 6rem;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
h4, .text-green{
    color:#21c25e;
}
.button-group{
    margin-bottom: 0.75rem;
}
.btn-round{
    border-radius: 150px;
}
.btn-success{
    background-color: #21c25e;
    border-color: #21c25e;
    font-size: 15px;
    font-weight: bold;
}
.btn-success:hover{
    color: #fff;
    background-color: #2dce51;
    border-color: #1e7e34;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.is-invalid{
    background-image: none !important;
    padding-right: none !important;
}
.btn-70{
    width: 70%;
}
.form-control, .form-control:focus{
    color: #b9b9b9;
    background-color: #121212;
}
.form-control{
    border: 1px solid #545556;
}
label{
    color: #fff;
}