.form{
    background-color: white;
}
.container{
    height: 100%;
}
img{
    max-width: 80%;
}
.logo-content{
    background-color: rgb(61, 61, 61);
    padding: 6rem;
}
h4, p{
    color:#21c25e;
}
